<div>
    <h2>
        <span jhiTranslate="triSilkApp.hoaDonBanHangChiTiet.home.title">Hoa Don Ban Hang Chi Tiets</span>
        <button class="btn btn-primary float-right jh-create-entity create-hoa-don-ban-hang-chi-tiet" [routerLink]="['/', { outlets: { popup: ['hoa-don-ban-hang-chi-tiet-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="triSilkApp.hoaDonBanHangChiTiet.home.createLabel">
            Create new Hoa Don Ban Hang Chi Tiet
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="hoaDonBanHangChiTiets">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="triSilkApp.hoaDonBanHangChiTiet.soMet">So Met</span></th>
            <th><span jhiTranslate="triSilkApp.hoaDonBanHangChiTiet.donGia">Don Gia</span></th>
            <th><span jhiTranslate="triSilkApp.hoaDonBanHangChiTiet.tongTien">Tong Tien</span></th>
            <th><span jhiTranslate="triSilkApp.hoaDonBanHangChiTiet.sanPham">San Pham</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hoaDonBanHangChiTiet of hoaDonBanHangChiTiets ;trackBy: trackId">
                <td><a [routerLink]="['../hoa-don-ban-hang-chi-tiet', hoaDonBanHangChiTiet.id ]">{{hoaDonBanHangChiTiet.id}}</a></td>
                <td>{{hoaDonBanHangChiTiet.soMet}}</td>
                <td>{{hoaDonBanHangChiTiet.donGia}}</td>
                <td>{{hoaDonBanHangChiTiet.tongTien}}</td>
                <td>
                    <div *ngIf="hoaDonBanHangChiTiet.sanPham">
                        <a [routerLink]="['../san-pham', hoaDonBanHangChiTiet.sanPham?.id ]" >{{hoaDonBanHangChiTiet.sanPham?.tenSanPham}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../hoa-don-ban-hang-chi-tiet', hoaDonBanHangChiTiet.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'hoa-don-ban-hang-chi-tiet/'+ hoaDonBanHangChiTiet.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'hoa-don-ban-hang-chi-tiet/'+ hoaDonBanHangChiTiet.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
