
<div *ngIf="hoaDonBanHang">
    <h2><span jhiTranslate="triSilkApp.hoaDonBanHang.detail.title">Hoa Don Ban Hang</span> {{hoaDonBanHang.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="triSilkApp.hoaDonBanHang.ngayBan">Ngay Ban</span></dt>
        <dd>
            <span>{{hoaDonBanHang.ngayBan | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="triSilkApp.hoaDonBanHang.tongTienHD">Tong Tien HD</span></dt>
        <dd>
            <span>{{hoaDonBanHang.tongTienHD}}</span>
        </dd>
        <dt><span jhiTranslate="triSilkApp.hoaDonBanHang.hdbhchitiet">Hdbhchitiet</span></dt>
        <dd>
            <div *ngIf="hoaDonBanHang.hdbhchitiet">
                <a [routerLink]="['/hoa-don-ban-hang-chi-tiet', hoaDonBanHang.hdbhchitiet?.id]">{{hoaDonBanHang.hdbhchitiet?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'hoa-don-ban-hang/'+ hoaDonBanHang.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
