<div>
    <h2>
        <span jhiTranslate="triSilkApp.hoaDonBanHang.home.title">Hoa Don Ban Hangs</span>
        <button class="btn btn-primary float-right jh-create-entity create-hoa-don-ban-hang" [routerLink]="['/', { outlets: { popup: ['hoa-don-ban-hang-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="triSilkApp.hoaDonBanHang.home.createLabel">
            Create new Hoa Don Ban Hang
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="hoaDonBanHangs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="triSilkApp.hoaDonBanHang.ngayBan">Ngay Ban</span></th>
            <th><span jhiTranslate="triSilkApp.hoaDonBanHang.tongTienHD">Tong Tien HD</span></th>
            <th><span jhiTranslate="triSilkApp.hoaDonBanHang.hdbhchitiet">Hdbhchitiet</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hoaDonBanHang of hoaDonBanHangs ;trackBy: trackId">
                <td><a [routerLink]="['../hoa-don-ban-hang', hoaDonBanHang.id ]">{{hoaDonBanHang.id}}</a></td>
                <td>{{hoaDonBanHang.ngayBan | date:'mediumDate'}}</td>
                <td>{{hoaDonBanHang.tongTienHD}}</td>
                <td>
                    <div *ngIf="hoaDonBanHang.hdbhchitiet">
                        <a [routerLink]="['../hoa-don-ban-hang-chi-tiet', hoaDonBanHang.hdbhchitiet?.id ]" >{{hoaDonBanHang.hdbhchitiet?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../hoa-don-ban-hang', hoaDonBanHang.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'hoa-don-ban-hang/'+ hoaDonBanHang.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'hoa-don-ban-hang/'+ hoaDonBanHang.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
