
<div *ngIf="maSanPham">
    <h2><span jhiTranslate="triSilkApp.maSanPham.detail.title">Ma San Pham</span> {{maSanPham.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="triSilkApp.maSanPham.productId">Product Id</span></dt>
        <dd>
            <span>{{maSanPham.productId}}</span>
        </dd>
        <dt><span jhiTranslate="triSilkApp.maSanPham.createdDate">Created Date</span></dt>
        <dd>
            <span>{{maSanPham.createdDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ma-san-pham/'+ maSanPham.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
